@model UI.Models.CambioDeCategoriaVM
@using Entities

@{
    ViewData["Title"] = "CambioDeCategoria";
}


@if (ViewBag.Error != null)
{
    <h4>@ViewBag.Error</h4>
}
else if (@ViewBag.Exito != null)
{
    <h3>@ViewBag.Exito</h3>
}
else
{
    <h6>
        Selecciona una Categoría y una o varias Plantas que añadir a dicha Categoría.
        Después, presiona aceptar
    </h6>
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CambioDeCategoria">

                           <div>
                    @Html.DropDownListFor(x => Model.CategoriaSeleccionada.IdCategoria, new SelectList(@Model.Categorias, "IdCategoria", "NombreCategoria", Model.CategoriaSeleccionada.NombreCategoria))

                </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            @Html.DisplayName("Planta")
                        </td>
                        <td>
                            @Html.DisplayName("Categoría")
                        </td>
                    </tr>

                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Plantas.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.Plantas[i].NombrePlanta)
                                @Html.HiddenFor(m => m.Plantas[i].IdPlanta)
                                @Html.HiddenFor(m => m.Plantas[i].IdCategoria)
                                @Html.HiddenFor(m => m.Plantas[i].NombrePlanta)
                            </td>
                            <td>
                                @for (int j = 0; j < @Model.Categorias.Count; j++)
                                {
                                    @Html.HiddenFor(m => m.Categorias[j].IdCategoria)
                                    @Html.HiddenFor(m => m.Categorias[j].NombreCategoria)
                                    @if (Model.Plantas.ElementAt(i).IdCategoria == Model.Categorias.ElementAt(j).IdCategoria)
                                    {
                                        @Html.DisplayFor(m => m.Categorias[j].NombreCategoria)
                                    }

                                }
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => m.Plantas[i].SeleccionadaParaCambioDeCategoria)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


