@model UI.Models.CambioDeCategoriaVM
  <div>
            @if (ViewBag.Error != null)
            {
                @ViewBag.Error
            }
            else
            {
                @ViewBag.Exito
            }
        </div>
<form method="post">
    
      

        <table class="table">
            <thead>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Categoria actual
                    </td>
                    <td>
                        Cambiar a categoria @Model.CategoriaSeleccionada.NombreCategoria
                    </td>
                </tr>
            </thead>

            @{
                int id = 0;
                for (int i = 0; i < Model.Plantas.Count; i++)
                {
                    <tbody>

                        <tr>
                            <td>
                            <input asp-for="@Model.Plantas.ElementAt(i).IdPlanta" class="form-control" type="hidden" />
                            <input asp-for="@Model.Plantas.ElementAt(i).IdCategoria" class="form-control" type="hidden" />
                                @Model.Plantas.ElementAt(i).NombrePlanta
                            </td>

                            <td>
                                @for (int j = 0; j < @Model.Categorias.Count; j++)
                                {
                                    @if (@Model.Categorias.ElementAt(j).IdCategoria == @Model.Plantas.ElementAt(i).IdCategoria)
                                    {
                                        <input asp-for="@Model.Categorias.ElementAt(j).NombreCategoria" class="form-control" type="hidden" />
                                        <input asp-for="@Model.Categorias.ElementAt(j).IdCategoria" class="form-control" type="hidden" />
                                        @Model.Categorias.ElementAt(j).NombreCategoria;


                                        j = @Model.Categorias.Count;
                                    }
                                }

                            </td>


                            <td>
        

                            </td>


                        </tr>



                    </tbody>
                }
            }
        </table>

   
    <div class="form-group">
    @Html.DropDownListFor(x => Model.CategoriaSeleccionada.IdCategoria, new SelectList(Model.Categorias, "IdCategoria", "NombreCategoria", Model.CategoriaSeleccionada.NombreCategoria))

    </div>

    <div class="form-control">
    <Input type="submit" value="Elegir Categoria y plantas">
      </div>
</form>

