@model UI.Models.ViewModels.IndexVM
@using Entities

@{
    ViewData["Title"] = "Index";
}

<h6>Elija una Categoría</h6>
<form method="post">
    <div class="row-col-md-11">

        @Html.DropDownListFor(x => Model.CategoriaSeleccionada.IdCategoria, new SelectList(@Model.ListaCategorias, "IdCategoria", "NombreCategoria", Model.CategoriaSeleccionada))
        <Input type="submit" value="Mostrar Plantas de Categoría" class="btn btn-primary">


    </div>


    <div>
        @Html.ActionLink("Modificar Categoría", "CambioDeCategoria")
        <hr />
        <a href = "~/Paginas/Plantas.html">AJAX</a>
    </div>


    <div>
        @if (@Model.ListaPlantasDeCategoriaSeleccionada.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            Nombre
                        </td>
                        <td>
                            Precio
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in @Model.ListaPlantasDeCategoriaSeleccionada)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor( m => item.NombrePlanta)

                            </td>

                            <td>
                                @Html.DisplayFor(m => item.Precio) €
                            </td>


                            <td>
                                @Html.ActionLink("Modificar Precio", "PonerPrecio", new {  id=item.IdPlanta})
                            </td>

                        </tr>

                    }

                </tbody>
            </table>

        }
        else
        {
            ViewBag.Error = "No se ha seleccionado ninguna Categoría";
        }
    </div>

</form>

<hr />


