@model UI.Models.ViewModels.IndexVM
@using Entities

@{
    ViewData["Title"] = "Index";
}

<div>
    <ul class="list-group-item-light">
        <li><a href="~/Paginas/CrearPlanta.html">Crear Planta</a></li>
        <li><a href="~/Paginas/CambiarCategoria.html">Modificar Categorias</a></li>
        <li><a href="~/Paginas/MostrarPlantasParaEliminar.html">Eliminar Planta</a></li>
    </ul>
</div>

@*<h6>Elija una Categoría</h6>
<form method="post">
    <div class="row-col-md-11">

        @Html.DropDownListFor(x => Model.CategoriaSeleccionada.IdCategoria, new SelectList(@Model.ListaCategorias, "IdCategoria", "NombreCategoria", Model.CategoriaSeleccionada))
        <Input type="submit" value="Mostrar Plantas de Categoría" class="btn btn-primary">


    </div>


    <div>
        @Html.ActionLink("Modificar Categoría", "CambioDeCategoria")
        <hr />

    </div>


    <div>
        @if (@Model.ListaPlantasDeCategoriaSeleccionada.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            Nombre
                        </td>
                        <td>
                            Precio
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in @Model.ListaPlantasDeCategoriaSeleccionada)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor( m => item.NombrePlanta)

                            </td>

                            <td>
                                @Html.DisplayFor(m => item.Precio) €
                            </td>


                            <td>
                                @Html.ActionLink("Modificar Precio", "PonerPrecio", new {  id=item.IdPlanta})
                            </td>

                        </tr>

                    }

                </tbody>
            </table>
*@
@*        }
        else
        {
            ViewBag.Error = "No se ha seleccionado ninguna Categoría";
        }
    </div>

</form>*@


