@model UI.Models.IndexVM
@using Entities

@{
    ViewData["Title"] = "Index";
}

<h6>Elija una Categoría</h6>
<div class="row-col-md-11">
    <form method="post">
        @Html.DropDownListFor(x => Model.CategoriaSeleccionada.IdCategoria, new SelectList(Model.ListaCategorias, "IdCategoria", "NombreCategoria", Model.CategoriaSeleccionada.NombreCategoria))
        <Input type="submit" value="Elegir Categoria">
    </form>
</div>
<div>
    @if (@Model.ListaPlantasDeCategoriaSeleccionada.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Precio
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ListaPlantasDeCategoriaSeleccionada)
                {
                    <tr>
                        <td>
                            @item.NombrePlanta
                        </td>

                                <td>
                                    @item.Precio €
                                </td>
                                
                                  
                                <td>
                                    @Html.ActionLink("Modificar Precio", "PonerPrecio", new {  id=item.IdPlanta}) 
                                </td>

                    </tr>

                }
            </tbody>
        </table>
    }
</div>